header {
  padding: 20px 0;
}
.download {
  background-color: rgb(4, 221, 178);
  border-radius: 24px;
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
}
.download:hover {
  background-color: rgb(4, 221, 178);
  border-radius: 24px;
  color: #fff;
  font-size: 18px;
  transform: scale(1.2);
}
header h2 {
  font-size: 32px;
  font-weight: 700;
}
.nlink {
  color: rgb(118, 118, 118);
  transition: 0.3s;
}
.nlink:hover {
  color: black;
  transform: scale(1.1);
}
.nlink-active {
  color: black;
}
.hmenu a {
  display: none;
  font-size: 24px;
  color: black;
  background-color: rgb(238, 240, 242);
  padding: 3px;
  margin-left: 5px;
  border-radius: 20px;
}
@media (min-width: 300px) and (max-width: 900px) {
  header h2 {
    margin-inline-end: auto;
  }
  nav {
    display: none;
  }
  .hmenu a {
    display: block;
  }
}
.first h1 {
  margin-bottom: 12px;
  color: rgb(51, 51, 51);
  font-size: 64px;
  font-weight: 900;
}
.first h1 span {
  color: rgb(4, 221, 178);
}
.first p {
  margin-bottom: 40px;
  font-size: 26px;
  color: rgb(51, 51, 51);
  padding: 0 30%;
}
.first img {
  margin-top: 32px;
  width: 75%;
  border-radius: 24px;
  transition: 0.3s ease;
}
.first img:hover {
  transform: scale(1.02);
  box-shadow: 0px 30px rgba(0, 0, 0, 0.05);
}
.second {
  padding-bottom: 140px;
}
.second h1 {
  margin-bottom: 48px;
  color: rgb(51, 51, 51);
  font-size: 80px;
  font-weight: 900;
  padding: 0 25%;
}
.second .downloadone {
  background-color: rgb(4, 221, 178);
  border-radius: 24px;
  color: #fff;
  font-size: 24px;
  transition: 0.3s;
  padding: 7px 25px;
}
.second .downloadone:hover {
  transform: scale(1.1);
}
footer {
  padding: 0 64px 64px 64px;
}
footer .one i {
  margin: 0 8px;
  border-radius: 50px;
  background-color: rgb(4, 221, 178);
  color: #fff;
  font-size: 20px;
  padding: 5px;
}
footer h3 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(51, 51, 51);
  margin-bottom: 30px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  font-size: 16px;
  font-weight: 400;
  padding: 8px 0;
  color: rgb(118, 118, 118);
  transition: 0.3s;
  cursor: pointer;
}
footer ul li:hover {
  transform: scale(1.1);
}
footer ul li:first-child {
  padding-top: 0;
}
.wfooter {
  padding: 112px 108px;
  border-top: 0.5px solid grey;
}
@media (min-width: 300px) and (max-width: 991.98px) {
  .second h1 {
    font-size: 55px;
    font-weight: 900;
    padding: 0 15%;
  }
  .first p {
    font-size: 26px;
    padding: 0 20%;
  }
}
@media (min-width: 300px) and (max-width: 900px) {
  .first h1 {
    font-size: 55px;
    font-weight: 900;
  }
  .first p {
    font-size: 22px;
    padding: 0 15%;
  }
  .first img {
    width: 100%;
  }
  .second h1 {
    margin-bottom: 48px;
    font-size: 40px;
    font-weight: 800;
    padding: 0 12%;
  }
  .wfooter {
    padding: 0;
  }
  .lfooter {
    flex-direction: column;
    text-align: center;
  }
  .lfooter .one {
    padding: 20px;
  }
}
